<div class="row col-lg-12">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="glyphicon glyphicon-info-sign"></i> </h3>
        </div>
        <div class="panel-body">
            <div class="col-lg-12">
                <h1>
                    SIPOLI IPB <br>
                    <small>Sistem Informasi Poliklinik Institut Pertanian Bogor</small>
                </h1>
                <hr />
                <p>
                    Melalui SIPOLI manajemen Rekam Medis dan Manajemen Obat menjadi efektif, efisien, dan terintegrasi.
                </p>

                <p><b>Sivitas IPB berhak mendapat pelayanan Poliklinik dengan terlebih dahulu registrasi dengan kode Identitas (NIM atau Nomor KTP).</b></p>

                @*<p class="center-block download-buttons">
                    <a href="#" class="btn btn-primary btn-lg"><i class="glyphicon glyphicon-chevron-left glyphicon-white"></i> Registrasi</a>
                    <a href="#" class="btn btn-default btn-lg">
                        <i class="glyphicon glyphicon-download-alt"></i> Login
                    </a>
                </p>*@
            </div>
        </div>
    </div>

</div>
