@model PagedList.IPagedList<SipoliDev5.Models.ViewModels.RujukanView>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Rujukan";
}

<h2>Daftar Rujukan Pasien</h2><hr />


<div class="row">
    <div class="col-lg-12">
        
        <!--Tempat Tabel Partial-->
        <div class="col-lg-12">
            <p>
                @Html.ActionLink("Tambah Data Rujukan", "Create", null, new { @class = "btn btn-default" })
            </p>
            
            <!--Lokasi Tabel Partial-->
            <div class=" panel panel-default">
                <!--Default panel contents-->
                <div class="panel-heading">
                    <div class="panel-title">
                        <div class="row">
                            <div class="col-lg-6">
                                <strong>Daftar Rujukan Pasien</strong>
                            </div>
                            <div class="col-lg-5 pull-right">
                                <!--Pencarian Nama Pasien-->
                                @using (Ajax.BeginForm("_DaftarRujukan", "Rujukan", new AjaxOptions { 
                                    HttpMethod="Get",
                                    InsertionMode=InsertionMode.Replace,
                                    //LoadingElementId = "loading",
                                    UpdateTargetId = "tabelRujukanPasien"
                                }))
                                {
                                    <div class="col-lg-12">
                                        <div class="input-group input-group-sm">
                                            <input type="text" class="form-control" name="searchString" 
                                                   placeholder="Ketik nama pasien" />
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" type="submit">Cari</button>
                                            </span>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <p>
                        Berikut adalah daftar Rujukan pasien yang pernah diberikan oleh Poliklinik IPB.
                    </p>
                </div>
                <!--Table-->
                <div id="tabelRujukanPasien">
                    @*Daftar RujukanPasien - A:DaftarRujukan*@
                    @Html.Action("_DaftarRujukan")
                </div>
                @section Scripts{@Scripts.Render("~/bundles/jqueryval")}
            </div>
        </div>
    </div>
</div>


